@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");


#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: "Inter", sans-serif;
}

body {

}

h3 {
  color: #fff;
  margin: unset;
  text-align: center;
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h4 {
  color: #f5f5f5;
  flex-shrink: 0;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

a {
  color: #f5f5f5;
  font-family: Inter;
  font-size: 10.24px;
  font-style: normal;
  font-weight: 400;
}

.container {
  display: flex;
  width: 550px;
  height: 868px;
  padding: 44px 117px 44px 116px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 550px;
  height: 868px;
  background: #23252c;
}

.card {
  height: 780px;
}

.myImage {
  width: 317px;
  height: 317px;
  border-radius: 10px 10px 0px 0px;
}

.content {
  width: 317px;
  height: 399px;
  flex-shrink: 0;
  background: #1a1b21;
}

.proffesion {
  color: #f3bf99;
  text-align: center;
  font-family: Inter;
  font-size: 12.8px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.email {
  display: flex;
  width: 115px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  border: 1px solid #ab3030;
  background: var(--white, #fff);
}
.linkedin {
  display: flex;
  width: 115px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 6px;
  background: #5093e2;
  
  padding: 0.5rem 1rem;
}

.interests,
.about {
  width: 247px;
  height: 61px;
  flex-shrink: 0;
  color: #dcdcdc;
  font-family: Inter;
  font-size: 10.24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

section {
  text-align: start;
  padding-left: 2.5rem;
}

footer {
display: flex;
justify-content: center;
gap: 1.5rem;
align-items: center;
width: 317px;
height: 64px;
flex-shrink: 0;
border-radius: 0px 0px 10px 10px;
background: #161619;

}

.icon {
  width: 25px;
height: 25px;
flex-shrink: 0;
}
